@use "./base.scss";


// put your custom CSS here!
img {
    display: block; /* Make image a block-level element */
    margin: 0 auto;  /* Center horizontally */
    width: fit-content; /* Optional: Prevent image from stretching container */
  }